<!-- Material form login -->
<div class="card my-5">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign in</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" (ngSubmit)="checkLogin(formLogin)" #formLogin="ngForm">
      <!-- alert -->
      <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert alert-danger mt-2" role="alert">
        <div *ngIf="Email.errors.required">Email is required</div>
        <div *ngIf="Email.errors.email">Email is not validate</div>
      </div>
      <div *ngIf="isLogin" class="alert alert-warning mt-2" role="alert">Wrong email or Password !!!!!</div>

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" ngModel #Email="ngModel" (focus)="onFocus()" name="email" class="form-control"
          required mdbInput email>
        <label for="materialLoginFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" ngModel name="password" (focus)="onFocus()" class="form-control" required
          mdbInput>
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>
      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign
        in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="">Register</a>
      </p>

      <!-- Social login -->
      <p>or sign in with:</p>
      <a type="button" class="btn-floating btn-fb btn-sm">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" class="btn-floating btn-tw btn-sm">
        <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-li btn-sm">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a type="button" class="btn-floating btn-git btn-sm">
        <i class="fab fa-github"></i>
      </a>

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->