<app-nav-top [emailUser]="userEmail"></app-nav-top>

<main>
    <div class="container" style="height: 70vh">
      <router-outlet></router-outlet> 
    </div>

</main>

<app-footer-bottom></app-footer-bottom>

